@import "tailwindcss";

  .button {
            position: relative;
            z-index: 0;
            color: white;
            border-radius: 8px;
            
        }

        .button-content { 
            color: white;
            z-index: 2;
        }
        
        .button::after,
        .button::before {
            content: '';
            position: absolute;
            /* height: 100%; */
            height: 5vh;
            width: 4vw;
            background-image: conic-gradient(rgb(12, 11, 11) ,blue,rgb(160, 165, 160),rgb(1, 1, 1));
            /* background-image: conic-gradient(from var(--angle), transparent 80%, rgb(187, 22, 99)); */
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            z-index: 1;
            padding: 5px;
            border-radius: 8px; 
        }

        